= form_for @recipe do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  .row
    .field
      = f.text_field :name, :placeholder=>'Recipe Name'
  .row
    .field
      = f.text_area :description, :placeholder => 'Recipe Description'
  .row
    %ol#steps-input
      %li.field
        %input.instruction-input{ :type => 'text', :placeholder => 'Instruction', :name => "recipestep[0][description]" }
        %br
        %input.measurement{ :type => 'text', :placeholder => '1 Cup', :name => "recipestep[0][amount]" }
        %input.ingredient{ :type => 'text', :placeholder => 'Milk', :name => "recipestep[0][name]" }

  %input.counter{ :type => 'hidden', :value => '1' }

  .row
    .actions
      %button.add-step.button.normal
        Add Step
      = f.submit 'Save', :class => 'button normal success'