.post
  .post-container
    .avatar
      = link_to image_tag(post.user.image), post.user
    .post_info
      .post_user
        = link_to post.user.name, post.user
      .post_desc
        = post.description
    = image_tag post.image_url
    - @recipe = post.recipe
    %div.recipe_name
      = link_to @recipe.name, post
    %ol
      - @recipe.recipe_steps.each do |step|
        %li
          = step.description
          - @step_ingredients = step.step_ingredients
          - if @step_ingredients.length > 0
            %span.ingredients
              - @step_ingredients.each do |step_ingredient|
                = "#{step_ingredient.amount}"
                - step_ingredient.ingredients.each do |ingredient|
                  = link_to ingredient.name, ingredient
    .likes
      %a.like{ :id => "like_#{post.id}", :href => "#", 'data-post' => post.id }
        - if current_user.likes?(post)
          Unlike
        - else
          Like
      %span.like_info{ :id => "like_info_#{post.id}" }
        = post.likes

  .post-stats
    %div.comments{:id=>"comments_#{post.id}"}
      - post.comments.each do |comment|
        = render comment
      .comment.new-comment-container
        = link_to image_tag(current_user.avatar(32,32), :class=>'comment-avatar'), current_user
        %input.new-comment{ :type => 'text', :placeholder => 'Write a comment...', 'data-post' => post.id }