.post
  .avatar
    = link_to image_tag(post.user.image), post.user
  .post_info
    .post_user
      = link_to post.user.name, post.user
    .post_desc
      = post.description
  = image_tag post.image_url
  - @recipe = post.recipe
  %div.recipe_name
    = @recipe.name
  %ol
    - @recipe.recipe_steps.each do |step|
      %li
        = step.description
        - @step_ingredients = step.step_ingredients
        - if @step_ingredients.length > 0
          %span.ingredients
            - @step_ingredients.each do |step_ingredient|
              = "#{step_ingredient.amount}"
              - step_ingredient.ingredients.each do |ingredient|
                = link_to ingredient.name, ingredient