!!!
%html{:lang=>'en'}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title
      = content_for?(:title) ? yield(:title) : "Eaterie"

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "application", params[:controller], 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags


  %body
    .container
      #scroll-header
        = yield(:scroll_header)
      %header#header.header
        .header-container.row
          .small-3.columns
            .logo
              = link_to "eaterie", root_url
          .small-9.columns
            .header-right
              - if user_signed_in?
                %a.new_post{ :href=>"/posts/new" }
                  %i.fa.fa-plus-circle
                  New Post
                = link_to current_user do
                  = image_tag current_user.avatar(20,20), :class=>'small-avatar'
                  %span.user-name
                    = current_user.name
                = link_to 'logout', logout_path
              - else
                = yield(:scroll_header)
      = yield
  %footer.footer
    &copy;2014 eaterie